<!DOCTYPE html>
<head>
  <title>Kinder</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='happy-sun.jpeg') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <h3>Kinder</h3>
  <h4>Your words - just a little kinder</h4>
  <form action="/" method="post">
    <input type="text" name="input" placeholder="Enter some text" required />
    <input type="submit" value="Make it kinder" />
  </form>
  {% if result %}
  <div class="result">{{ result }}</div>
  {% endif %}
</body>
